<!--The content below is only a placeholder and can be replaced.-->
<div class="contentContainer">
  <div class="headLine">
    <h1>Matrix Currency Converter</h1>
  </div>

  <div class="bodyContent" >
    <div class="results">

    </div>

    <div class="currencyForm" [formGroup]="currencyForm">
      <div class="currencyRow">
        <input formControlName="inputCurrencyValue">
        <select formControlName="inputCurrencyType">
          <option>EUR</option>
          <option>USD</option>
        </select>
      </div>
      <div class="currencyRow">
        <input formControlName="convertedCurrencyValue">
        <select formControlName="convertedCurrencyType">
          <option>EUR</option>
          <option>USD</option>
        </select>
      </div>

      <div class="submitButton" (click)="convertValues()">Convert</div>
    </div>
  </div>

</div>



<router-outlet></router-outlet>
